apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongo
spec:
  selector:
    matchLabels:
      app: mongo
  serviceName: "mongo-service"
  replicas: 1
  # minReadySeconds: 10 
  template:
    metadata:
      labels:
        app: mongo
    spec:
      # terminationGracePeriodSeconds: 10
      containers:
      - name: mongodb-con
        image: docker.io/library/mongo:7.0
        ports:
        - containerPort: 27017
          name: mongodb-port
        volumeMounts:
        - name: mongo-data
          mountPath: /data/db
  volumeClaimTemplates:
  - metadata:
      name: mongo-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi